<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>

  </style>
</head>

<body>

  <div class="row">
    <%for(let content of foundData.pastWork){%>
      <div class="col-md-8">
        <%if(content.content_type=="link"){%>
          <div>
            <b>description:</b><%= content.description%><br>
            <a href="<%=content.link%>" target="_blank"><%=content.link%></a>
          </div>

        <%}else if(content.content_type=="photo"){%>
            <div>
                <b>description:</b><%= content.description%><br>
                <img src="/uploads/<%=foundData.uniqueusername%>/past work/<%=content.filename%>" alt="content photo" width="500px" height="500px" style="margin-left:auto;margin-right:auto;display:block;">
            </div>
        <%}else{%>
            <div>
                <b>description:</b> <%= content.description%><br>
                <video width="500px" height="500px" controls style="margin-left:auto;margin-right:auto;display:block;">
                  <source src="/uploads/<%=foundData.uniqueusername%>/past work/<%=content.filename%>">
                </video>
            </div>
        <%}%>
      </div>
    <%}%>
      <!-- end of for -->
  </div>

  <script>

  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
